body{
    
    background: rgb(233, 233, 233);
    height:100%;
    padding:3em;
    font-family: 'Courier New', Courier, monospace;
}
.heading{
    margin-top: 10%;
}
#editorjs{
    background: white;
    
}
